@using Entidades;
@model Alumno

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>
<br />
<div>
    <h4>Alumnos</h4>
    <hr />
    <dl class="dl-horizontal">
        <div class="row">
            <dt class="col-2" style="text-align:right">
                ID
            </dt>
            <dd class="col-auto">
                @Html.DisplayFor(model => model.id)
            </dd>
        </div>

        <div class="row">
            <dt class="col-2" style="text-align:right">
                Nombre
            </dt>
            <dd class="col-auto">
                @Html.DisplayFor(model => model.nombre)
            </dd>
        </div>

        <div class="row">
            <dt class="col-2" style="text-align:right">
                Primer Apellido
            </dt>
            <dd class="col-auto">
                @Html.DisplayFor(model => model.primerApellido)
            </dd>
        </div>

        <div class="row">
            <dt class="col-2" style="text-align:right">
                Segundo Apellido
            </dt>
            <dd class="col-auto">
                @Html.DisplayFor(model => model.segundoApellido)
            </dd>
        </div>

        <div class="row">
            <dt class="col-2" style="text-align:right">
                Fecha de Nacimiento
            </dt>
            <dd class="col-auto">
                @Html.DisplayFor(model => model.fechaNacimiento).ToString().Substring(1, 10)
            </dd>
        </div>

        <div class="row">
            <dt class="col-2" style="text-align:right">
                CURP
            </dt>
            <dd class="col-auto">
                @Html.DisplayFor(model => model.curp)
            </dd>
        </div>

        <div class="row">
            <dt class="col-2" style="text-align:right">
                Correo
            </dt>
            <dd class="col-auto">
                @Html.DisplayFor(model => model.correo)
            </dd>
        </div>

        <div class="row">
            <dt class="col-2" style="text-align:right">
                Telefono
            </dt>
            <dd class="col-auto">
                @Html.DisplayFor(model => model.telefono)
            </dd>
        </div>

        <div class="row">
            <dt class="col-2" style="text-align:right">
                Sueldo Mensual
            </dt>
            <dd class="col-auto">
                @Html.DisplayFor(model => model.sueldo)
            </dd>
        </div>

        <div class="row">
            <dt class="col-2" style="text-align:right">
                Estado
            </dt>
            <dd class="col-auto">
                @{ 
                    var estado = @ViewBag.estado;
                }
               @Html.Display("estado")
            </dd>
        </div>

        <div class="row">
            <dt class="col-2" style="text-align:right">
                Estatus
            </dt>
            <dd class="col-auto">
                @{
                    var estatus = @ViewBag.estatus;
                }
                @Html.Display("estatus")
            </dd>
        </div>

    </dl>
    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })




