@model Negocio.WCFAlumno.ItemTablaISR

<div>
    <h4>ItemTablaISR</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Excedente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Excedente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cuotaFija)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cuotaFija)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.limInf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.limInf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.limSup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.limSup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subsidio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subsidio)
        </dd>

    </dl>
</div>
